body{
  background-image: url("../img/pc.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
body.container{
  padding: 0px 0px 0px 0px;
}
.nav{
  background-color: #CAE5E8;
  opacity: 0.6;
}
.table{
  color: white;
}
.form-control{
  width:100px;
}
.form-group{
  color:white;
}
.shoot{
  height: 150px;
}
#Edition1,#Edition2{
  display: none;
}
.navbar>p>a{
  text-decoration: none;
  color:black;
}
