body{
  background-image: url("../img/pc.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.nav{
  background-color: #CAE5E8;
  opacity: 0.6;
}
.table{
  color: white;
}
.image-responsive{
  height: 150px;
}
.form-control{
  width:100px;
}
.form-group{
  color:white;
}
